.connexion {
    margin-top : 100px;
    max-width: 350px;
}

label {
    margin-bottom: 0px!important;
    margin-top: 10px;
}

.contact-form {
    width: 300px;
}

.erreur {
    font-weight: bold;
    color: red;
}